@import "bootstrap/scss/bootstrap";

@media (prefers-color-scheme: dark) {
  body {
    background-color: #292e3d;
    color: #f7f8fa;
  }

  textarea.form-control {
    background: #181c25;
    color: rgb(210, 210, 210);
  }

  .tab {
    background-color: #384257;
  }

  .tab:hover {
    background-color: #303a4f;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #dadfe7;
    color: rgba(0, 0, 0, 0.87);
  }

  textarea.form-control {
    background: #f3f4f7;
    color: rgba(0, 0, 0, 0.8);
  }

  .tab {
    background-color: #b6bcce;
  }

  .tab:hover {
    background-color: #aeb5c7;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 20px;
  }

  #std_tab::before {
    content: "STD";
  }
  #anygrade_tab::before {
    content: "AG";
  }
  #sr_tab::before {
    content: "SR";
  }
  #fr_tab::before {
    content: "FR";
  }
}

@media screen and (min-width: 601px) {
  #std_tab::before {
    content: "Standard";
  }
  #anygrade_tab::before {
    content: "Any Grade";
  }
  #sr_tab::before {
    content: "SpeedRun";
  }
  #fr_tab::before {
    content: "Fast run";
  }
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .contractinfo {
    padding: 5% 5%;
  }

  #contracttype {
    font-weight: bold;
  }

  #nextcontract {
    font-weight: bold;
  }

  .form-label {
    font-size: 16px;
    font-weight: bold;
  }

  textarea {
    resize: none;
    font-family: monospace;
    font-stretch: condensed;
  }

  textarea.form-control {
    border-radius: 7px;
    border: 2px solid #7727ec;
    font-size: 10px;
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  
  #app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .tabs {
    display: flex;
    padding: 0 5%;
  }
  
  .tab {
    flex-grow: 1;
    padding: 1% 0;
    cursor: pointer;
    border-radius: 10px;
    margin: 0 1%;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
  }

  .tab.active {
    background-color: #7727ec;
    color: white;
  }

  .tab:hover {
    outline: 2px solid #7727ec;
  }
  
  .content {
    display: none;
  }
  
  .content.active {
    display: block;
    padding: 5% 5%;
  }
  
  .noultrafr {
    display: none;
  }
