@import "bootstrap/scss/bootstrap";

@media (prefers-color-scheme: dark) {
  body {
    background-color: #6150cf;
    color: #faf9f7;
  }

  textarea.form-control {
    background: #323388;
    color: rgb(210, 210, 210);
  }

  .active {
    background-color: #4d91ce;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #dec0f1;
    color: rgba(0, 0, 0, 0.87);
  }

  textarea.form-control {
    background: white;
    color: #7161ef;
  }

  .active {
    background-color: #957fef;
  }
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: darkslateblue;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  textarea {
    resize: none;
    font-family: monospace;
    font-stretch: condensed;
  }
  
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  
  #app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .tabs {
    display: flex;
  }
  
  .tab {
    flex-grow: 1;
    padding: 10px;
    cursor: pointer;
  }
  
  .content {
    display: none;
  }
  
  .content.active {
    display: block;
    padding: 50px;
  }
  
  // .active {
  //   background-color: #41463D;
  //   color: white;
  // }
  
  .noultrafr {
    display: none;
  }
  
  